@font-face {
  font-family: "merry";
  src: url("Fonts/MerrysPersonalUse-KVM77.ttf");
}
@font-face {
  font-family: "CERD";
  src: url("Fonts/AnkhSanctuary-PVK0B.ttf");
}
@font-face {
  font-family: "CERD1";
  src: url("Fonts/CeniosroundedExtruderightDemo-drvpR.otf");
}
.box-shadow {
  box-shadow: 50px 35px rgba(35, 53, 35, 0.363);
}

#mixin-button {
  transform: scale(1) rotate(0deg);
  transition: transform 1s;
}

#mixin-button:hover {
  transform: scale(2) rotate(77deg);
  transition: transform 2s;
}

#mixin-example {
  box-shadow: 50px 35px rgba(35, 53, 35, 0.363);
  text-shadow: 4px 3px rgb(255, 112, 46);
}

main {
  background-image: linear-gradient(rgba(104, 216, 142, 0.623), rgb(238, 199, 144));
  border: solid 3px rgb(31, 245, 127);
  padding: 2px 0px 1px 0px;
  margin: -1px 20px 3px 17px;
  opacity: 90%;
}

#header {
  background-image: linear-gradient(rgba(105, 255, 193, 0.623), rgb(238, 199, 144), #333);
  margin: 7px;
  border-bottom: 2px solid #666;
  border-right: 4px solid #444;
  border-top: 3px solid #555;
  border-left: 5px solid rgba(219, 126, 126, 0.5);
  background-color: rgba(90, 70, 100, 0.722);
  background-color: #7cffc8;
  border-top: 3px solid rgba(77, 251, 235, 0.76);
  border-left: 11px solid rgba(77, 251, 235, 0.76);
  border-radius: 5px;
  padding: 2px 0px 0px 0px;
  margin: -11px 3px 0px 0px;
  background-image: linear-gradient(linear-gradient(rgb(165, 31, 31), rgb(8, 253, 245), teal));
}

.card2 {
  background-color: rgb(62, 127, 135);
}

.border-border {
  background-color: linear-gradient(black, rgb(7, 8, 8), rgb(238, 225, 209));
}

html {
  border: 3px solid blue;
  background-color: #00a8f2;
}

body {
  background-image: linear-gradient(rgba(99, 199, 206, 0.623), rgb(24, 13, 75));
  border: solid 3px rgba(110, 121, 108, 0.616);
  color: rgb(245, 248, 37);
  font-family: CERD;
  font-size: 25px;
  margin: 77px;
}

button {
  font-family: CERD1;
  padding: 0px 0px 0px 29px;
  border-radius: 5px;
  background-color: rgba(57, 180, 252, 0.888);
  font-size: 25px;
  border: 5px solid rgba(83, 241, 214, 0.826);
}
button:hover {
  color: rgb(245, 248, 37);
}

nav {
  font-family: CERD;
  border: solid 3px rgb(31, 245, 127);
  text-align: center;
  color: linear-gradient(black, rgb(7, 8, 8), rgb(238, 225, 209));
}

nav a {
  border: 2px solid #666;
  color: rgba(255, 255, 255, 0.647) !important;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  background-image: url(header1_cr3.png);
  font-size: 18px;
  margin: 1px;
  background-image: linear-gradient(linear-gradient(rgb(165, 31, 31), rgb(8, 253, 245), teal));
}

nav a:hover {
  background-image: url(4.jpg);
}

.gallery {
  background-image: url();
  font-family: CERD1;
}

h2 {
  background-image: url(CapstonePictures\3 .png);
  text-align: end;
  font-size: 25px;
  color: rgba(57, 180, 252, 0.888);
}

main {
  background-image: linear-gradient(rgb(116, 255, 213), blue, rgba(255, 255, 255, 0.647));
  border: solid 3px rgb(135, 245, 31);
  font-family: merry;
}

p.cardDesc1 {
  margin: 12px 12px 12px 12px;
  padding: 12px 12px 12px 12px;
}

span {
  border: 5px solid rgba(83, 241, 214, 0.826);
  padding: plump;
  background-color: rgb(75, 79, 219);
}

.list-group-item-one {
  border: 5px solid rgba(83, 241, 214, 0.826);
  border-radius: 5px;
  background-color: rgba(57, 180, 252, 0.888);
  font-size: 25px;
  font-family: CERD1;
}

.banner {
  padding: 0px 0px 0px 29px;
  background-color: rgb(19, 21, 27);
  border-radius: 5px;
  height: 200px;
  border: 4px solid rgb(110, 247, 247);
  background-image: linear-gradient(black, rgb(0, 5, 8), rgb(40, 88, 85));
  color: rgba(255, 255, 255, 0.647);
}

.bigger {
  font-size: 55px;
}

.borderRadius {
  border-radius: 12px;
  border: 2px solid rgba(60, 195, 212, 0.822);
  background-image: linear-gradient(rgba(33, 122, 128, 0.048), rgb(24, 13, 75));
  color: #00a8f2;
}

.brain {
  background-color: #7cffc8;
  border-top: 3px solid rgba(77, 251, 235, 0.76);
  border-left: 3px solid rgba(77, 251, 235, 0.76);
  border-radius: 5px;
  padding: 2px 0px 0px 0px;
  margin: 1px 3px 0px 0px;
  background-image: url(Images/header1_cr3.png);
}

.bg-info {
  -bs-bg-opacity: 12;
  background-color: rgb(121, 8, 8) !important;
}

.butt {
  border: 3px solid rgb(245, 31, 84);
  padding: 25px 26px 27px 50px;
  font-size: 40px;
  font-family: CERD1;
  background-color: rgb(62, 127, 135);
  border-radius: 5px;
}

.divLeft {
  display: inline;
}

.divRight {
  display: inline;
}

header {
  background-image: linear-gradient(rgba(105, 255, 193, 0.623), rgb(238, 199, 144), #333);
  margin: 7px;
  border-bottom: 2px solid #666;
  border-right: 4px solid #444;
  border-top: 3px solid #555;
  border-left: 5px solid rgba(219, 126, 126, 0.5);
  background-color: rgba(90, 70, 100, 0.722);
}

.heading {
  font-family: merry;
  color: rgba(255, 255, 255, 0.647);
  padding: 1px 2px 2px 0px;
  padding: 10px 56px 0px 7px;
  margin: 1px 0px -7px 0px;
  border: 3px solid rgb(245, 31, 84);
}

.heading-three {
  font-family: CERD1;
  margin: -5px 0px 0px 7px;
  font-size: 35px;
  padding: 22px;
  display: inline;
}

.inline {
  display: inline;
  margin: -146px 1px 4px 0px;
  opacity: 29%;
  background-repeat: repeat-y;
}

.opacity {
  opacity: 90%;
  margin: -180px 17px -58px 9px;
  padding: 40px 20px 7px 14px;
}

.padding {
  margin: 4px 20px 0px 0px;
}

.pullup {
  margin: 1px 2px 30px 40px;
  padding: 12px 15px 0px 34px;
}

.border {
  border-bottom: 3px solid rgb(37, 33, 33);
  border-right: 10px solid black;
  border-top: 5px solid rgb(193, 163, 130);
  border-left: 7px solid rgb(23, 22, 22);
  border-radius: 12px;
  padding: 12px 12px 12px 12px;
  margin: 12px 12px 12px 12px;
  background-color: rgba(57, 180, 252, 0.888);
  color: rgba(255, 255, 255, 0.647);
}/*# sourceMappingURL=sass.css.map */     datalist {
  display: none;
}   javascript ARR