$dropColor: rgba(57, 180, 252, 0.888);
$coolColor: rgb(121, 8, 8);
$primaryFont: CERD1;
$secondaryFont: CERD1;
$moreFont: merry;
// $font: ALKY;
$rad: 15px;
$fs: 25px;
$border-one: 5px solid rgba(83, 241, 214, 0.826);
$propColor: rgb(62, 127, 135);
$whiteSpot: rgba(255, 255, 255, 0.647);
// $border-2: 3px solid rgb(245, 31, 84);
$verticalRepeat: no-repeat repeat;
$bigger-font: 40px;
$fontDeluxe: 35px;
$background-color: #00a8f2;
// $html-border: 3px solid rgba(88, 88, 196, 0.692);
$body-color: linear-gradient(rgba(99, 199, 206, 0.623), rgb(24, 13, 75));
$body-color2: solid 6px rgba(255, 1, 255, 0.788);
$color: rgb(106, 183, 255);
$box-shadow: 3px 7px rgba(189, 108, 255, 0.363);
$text-shadow: 2px 2px rgb(97, 23, 60);
// $marginAround: 12px 12px 12px 12px;
$body-color1: linear-gradient(rgba(17, 80, 85, 0.623), rgba(20, 13, 53, 0.925), rgb(76, 140, 235));
 //  ------------------------------------------------------------      ---------------------------------------------------------

// @font-face {
//     font-family: "ALKY";
//     src: url("Fonts/AltronedtrialRegular-E4pYl.otf");
// }


@font-face {
    font-family: "merry";
    src: url("Fonts/MerrysPersonalUse-KVM77.ttf");
}


// @font-face {
//     font-family: "CERD";
//     src: url("Fonts/AnkhSanctuary-PVK0B.ttf");
// }


@font-face {
    font-family: "CERD1";
    src: url("Fonts/CeniosroundedExtruderightDemo-drvpR.otf");
}


@mixin main-styles {

    // border: $nav-border;
    padding: 2px 0px 1px 0px;
    margin: -1px 20px 3px 17px;
    opacity: 90%;
}


@mixin boxShadow {
    box-shadow: $box-shadow;
}


@mixin textShadow {
    text-shadow: $text-shadow;
}


@mixin animation1 {
    transform: scale(1) rotate(0deg);
    transition: transform 1s;
}


@mixin animation2 {
    transform: scale(2) rotate(77deg);
    transition: transform 2s;
}


// -------------------------------------------------------------++++++++++++++++       ----------------------------------------------- 

h3 {
    font-family: $primaryFont;
}


.box-shadow {
    @include boxShadow;
}


#mixin-button {
    @include animation1;

}


.mixin-button:hover {
    @include animation2;
}


#mixin-example {
    @include boxShadow;
    @include textShadow;
}


main {
    @include main-styles;
}


//---------------------------------------------------------------------++++++++++++++++++++



body {
    background-color: #2815d6c7;
    border: $body-color2;
    color: $color;
    // font-family: $secondaryFont;
    font-size: $fs;
    margin:  7px;
}


button {
    font-family: $secondaryFont;
    border-radius: $rad;
    background-color: $dropColor;
    font-size: $fs;
    border: $border-one;

    &:hover {
        color: $color;
    }
}




nav {
    background-image: $body-color;
    font-family: $moreFont;
    // border: $nav-border;
    text-align: center;
    text-shadow: $text-shadow;
    color: $color;
    & a:hover {
        background-image: url(4.jpg);
    }
    
}

.backgroundColor { 
    background-image: $body-color;
}

.backgroundColor-2 {
    background-image: $body-color1;
}


h2 {
    text-align: end;
    font-size: 25px;
    color: $dropColor;
}

.body1 {
    background-image: url("CapstonePictures/art5.jpg");
    background-repeat: $verticalRepeat;
    background-size: 100% 50%;
}
    
// -------------------------------------------------------------++++++++++++++++++++       -----------------------------------------------


.list-group-item-one {
    border: $border-one;
    border-radius: $rad;
    background-color: $dropColor;
    font-size: $fs;
    // font-family: $secondaryFont;
}

.banner {
    background-color: rgb(19, 21, 27);
    border-radius: $rad;
    height: 200px;
    border: 4px solid rgb(110, 247, 247);
    background-image: linear-gradient(black, rgb(0, 5, 8), rgb(40, 88, 85));
    color: $whiteSpot;
}

.bigger {
    font-size: 55px;
}

.borderRadius {
    border-radius: 12px;
    border: 2px solid rgba(60, 195, 212, 0.822);
    background-image: linear-gradient(rgba(33, 122, 128, 0.048), rgb(24, 13, 75));
    color: $background-color;
}


.bg-info {
    -bs-bg-opacity: 50%;
    background-color: $coolColor !important;
}

.butt {
    // border: $border-2;
    font-size: $bigger-font;
    // font-family: $secondaryFont;
    background-color: $propColor;
    border-radius: $rad;
}

.divLeft {
    display: inline;
}

.divRight {
    display: inline;
}

.heading {
    // font-family: $font;
    color: $whiteSpot;
    padding: 1px 2px 2px 0px;
    padding: 10px 56px 0px 7px;
    margin: 1px 0px -7px 0px;
}



.heading-three {
    // font-family: $secondaryFont;
    margin: -5px 0px 0px 7px;
    font-size: $fontDeluxe;
    padding: 22px;
    display: inline;
}




// .inline {
//     display: inline;
//     margin: -146px 1px 4px 0px;
//     opacity: 29%;
//     background-repeat: repeat-y;
// }


.cool {
    // font-family: $font;
}



.opacity {
    opacity: 9;
    margin: -180px 17px -58px 9px; /* this margin is causing the element to be positioned off the screen */
    padding: 40px 20px 7px 14px;
}
