.border-dashed {
  border-style: dashed !important;
}
.border-dotted {
  border-style: dotted !important;
}

body {
  background-color: aliceblue;
  color: white
}


h3:hover {
  background-color:blue;
  font-size: 25px;
}


#date {
  width:50%;
}

#time {
  width:50%;
}

#email {
  width:50%;
}

#phone {
  width:50%;  
}

#name {
  width:50%;
}

#notes {
  width:50%;
}